{% extends "mainpage.html" %}
{% load static %}
{% block title %}
    Your shopping cart
{% endblock %}
{% block content %}
<div class="container px-4 px-lg-5">
    <h1>Your shopping cart</h1>
    <table class="cart">
        <thead>
        <tr>
            <th>Image</th>
            <th>Product</th>
            <th>Quantity</th>
            <th>Remove</th>
            <th>Unit price</th>
            <th>Price</th>
        </tr>
        </thead>
        <tbody>
        {% for item in cart %}
            {% with product=item.product %}
                <tr>
                    <td>
                        <a href="{{ product.get_absolute_url }}">
                            <div class="container">
                                 <div class="col col-lg-2">
                                            <img class="card-img-top" src="{{ product.image.url }}">
                                 </div>
                            </div>
                        </a>
                    </td>
                    <td>
                        <div class="container">
                                 <div class="col col-lg-2">{{ product.name }}</div>
                        </div>
                    </td>
                    <td>{{ item.quantity }}</td>
                    <td class="num">${{ item.price }}</td>
                    <td class="num">${{ item.total_price }}</td>
                    <td><a class="btn btn-outline-dark mt-auto" href="{% url 'cart_remove' product.id %}">Remove</a></td>
                </tr>
            {% endwith %}
        {% endfor %}
        <tr class="total">
            <td>Total</td>
            <td colspan="4"></td>
            <td class="num"><h5>${{ cart.get_total_price }}</h5></td>
        </tr>
        </tbody>
    </table>
    <p class="text-right">
        <a href="{% url 'mainpage' %}" class="btn btn-outline-dark mt-auto">Continue shopping</a>
        {% if cart.get_total_price != 0 %}
        <a href="{% url 'order_creation' %}" class="btn btn-outline-dark mt-auto">Checkout</a>
        {% endif %}
    </p>
    </div>
{% endblock %}